<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
            <h2 class="footer-heading">Our Services</h2>

        <ul class="social-media-list">
          <li><a href="/services/laravel-developers">Laravel Development</a></li>
          <li><a href="/services/ruby-on-rails-developers">Ruby on Rails Development</a></li>
          <li><a href="/services/reactjs-developers">React js Development</a></li>
          <li><a href="/services/front-end-developers">Front end Development</a></li>
          <li><a href="/services/nodejs-developers">Node JS Development</a></li>
          <li><a href="/services/wordpress-developers">WordPress Development</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
            <h2 class="footer-heading">Reach us</h2>

        {% include social.html %}
      </div>

      <div class="footer-col footer-col-3">
        <h2 class="footer-heading">About Crew</h2>
        <p>{{ site.description | escape }}</p>
        <a href="/about/">Learn more</a>
      </div>
    </div>

  </div>

</footer>